<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      <span class="font-poppins font-bold">Cubex Clothing and Design Store</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-slides pager="true"
              class="mx-2 my-2"
              (ionSlideDidChange)="SlideDidChange(sliderOne,slideWithNav)">
    <ion-slide *ngFor="let s of sliderOne.slidesItems" class="w-[100px]">
      <img src="/assets/banners/{{s.image}}" [width]="150">
    </ion-slide>
  </ion-slides>
  <h5 class="font-poppins text-center font-bold mt-1 text-2xl text-primary">Featured Designs</h5>
  <ion-grid>
    <ion-row>
      <ion-col size="6" size-md="4" size-lg="3" size-xl="2" *ngFor="let p of products">
        <ion-card>
          <ion-card-header>
            <ion-card-title class="font-poppins font-bold text-primary text-center text-xl">{{p.productName}}</ion-card-title>
            <ion-card-subtitle class="font-poppins text-center">Php{{p.productPrice}}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-img src="/assets/photos/{{p.productImage}}" class="w-full"></ion-img>
            <ion-button expand="block" fill="outline"
                        (click)="addProductToCart(p)"
                        color="warning"
                        class="font-poppins font-bold">
              <ion-icon slot="start" name="cart-outline"></ion-icon>
              Add to Cart
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
