<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <span class="font-poppins font-bold">Your Cart</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<!--  cart from dataservice -->
  <ion-list>
    <div *ngFor="let product of cart">
      <app-product-card [product]="product">
      </app-product-card>
    </div>
  </ion-list>
  <div class="flex justify-between items-center mx-[10%] my-2">
    <span class="font-poppins font-bold text-xl">Total Amount: {{getTotal()}}</span>
    <ion-button class="ion-margin font-poppins text-primary" expand="block" fill="outline" color="primary">
      <ion-icon slot="start" name="card-outline"></ion-icon>
      <ion-label class="font-bold font-poppins">Checkout</ion-label>
    </ion-button>
  </div>
</ion-content>
