ion-card {
  --background: #000;
  --color: #ea6227;
  font-family: Poppins;
}

ion-card-title {
  --color: #ea6227;
  font-weight: bold;
}

ion-card-subtitle {
  --color: #ea6227;
}

/* iOS places the subtitle above the title */
ion-card-header.ios {
  display: flex;
  flex-flow: column-reverse;
}
